# Python
__pycache__/
*.py[cod]
.venv/
dist/
build/

# VSCode settings
.vscode/

# dotenv
.env

# macOS / Windows
.DS_Store
Thumbs.db

#db
*.db

uploads/



uploads/5d295a02-d115-443f-bce1-6b9ae1ab0f49.jpg
uploads/60f0d9fb-c857-45fc-96c3-ef9283d99c54.jpg

